[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
flask = "*"
markdown = "*"
gunicorn = "*"
psycopg2 = "*"
flask-script = "*"
flask-migrate = "*"
python-markdown-math = "*"
flask-caching = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
