<div class="section footer">
  <div class="container">
    <div class="row">
      <div class="one-third column">
        <a href="https://github.com/codecalec"
          ><i class="nav fab fa-github"></i
        ></a>
      </div>
      <div class="one-third column">
        <a href="https://www.linkedin.com/in/alex-veltman-701aa2190">
          <i class="nav fab fa-linkedin-in"></i>
        </a>
      </div>
      <div class="one-third column">
        <a href="mailto:alexveltman@protonmail.com">
            <i class="nav far fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</div>
