{% extends "base.html" %} {% block content %}
<div class="section content" style="margin-top: 20%;">
  <div class="container">
    <h1>About Me</h1>
    <div class="row">
        <div class="one-third column">
            <img src="https://alexveltmanpersonalwebsite.s3.eu-west-2.amazonaws.com/images/portrait-min.jpg" >
        </div>
        <div class="two-thirds column">
            My name is Alex Veltman and I am an undergraduate student at UCT. My interests lie in Physics, Mathematics and Computer Science. This site was wirtten in Python using <a href="https://flask.palletsprojects.com/">Flask</a> and the source code for this site can be found <a href="https://github.com/codecalec/PersonalWebsiteFlask">here</a>.
        </div>
    </div>
  </div>
</div>
{% endblock content %}
