<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8" />
    <title>Alex Veltman</title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- <link
      href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
      rel="stylesheet"
      type="text/css"
    /> -->
    <!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="../static/normalize.css" />
    <link rel="stylesheet" href="../static/skeleton.css" />

    <!-- Favicon
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png" />
  </head>
  <body>
    <div id="root"></div>
    <h1>working</h1>
  </body>
  <footer>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: ["Raleway:400,300,600"] }
      };
      (function() {
        var wf = document.createElement("script");
        wf.src = "https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js";
        wf.type = "text/javascript";
        wf.async = "true";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </footer>
</html>

